{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ad.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ad.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ad.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ ad.photo }}</td>
            </tr>
            <tr>
                <th>Expirationdate</th>
                <td>{% if ad.expirationDate %}{{ ad.expirationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ad_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ad_edit', { 'id': ad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
